.nav {
  background: getColour(white) !important;

  &__title {
    color: getColour(brand) !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus,
  .navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &__link--active {
    color: getColour(primary) !important;
  }

  &__link {
    text-transform: uppercase;
  }
}