$font: "open sans", sans-serif;
$tablet-width: 768px;
$desktop-width: 1300px;

$colours: (
  primary: #C32C72,
  white: #F4F3EE,
  bg-grey: #E5E5E5,
  heading: #463F3A,
  tb-font: #8D8D8D,
  brand: #262626,
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}